body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper{
    background-image: url(../img/nasir.jpg);
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns:10vh, 80vh, 10vh;
    grid-template-rows:10vh, 80vh, 10vh; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px;

}

header{
    margin-left: 5%;
    margin-right: 5%;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    margin-left: 5%;
    margin-right: 5%;

}
