body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper{
    background-image: url(../img/nasir.jpg);
    height: 100%;
    margin: 0;
    display: grid;
}
header{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    grid-column: span 1;
    grid-row: span 1;
    background-color: antiquewhite;
    border: 5px;
    border-color: gray;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.75);
    border-radius: 20px;
    
}
